*.war
/build/
/dist/
/nbproject/private/
/src-code/HotelManagementSystem/build/
/src-code/HotelManagementSystem/nbproject/private/
/src-code/HotelManagementSystem/dist/
/src-code/HotelManagementSystem_1/nbproject/private/
